.numberDisplay {
  margin-top: 20px; }
  .numberDisplay p {
    font-size: 20px;
    padding: 20px 0 0; }
  .numberDisplay .numbers {
    height: 24px;
    margin-top: 10px; }
    .numberDisplay .numbers span {
      float: right;
      width: 14px;
      height: 24px; }
      .numberDisplay .numbers span.number {
        background: url("../images/icon.png");
        overflow: hidden; }
      .numberDisplay .numbers span.null {
        background-position: -215px -25px; }
      .numberDisplay .numbers span.zero {
        background-position: -75px -25px; }
      .numberDisplay .numbers span.one {
        background-position: -89px -25px; }
      .numberDisplay .numbers span.two {
        background-position: -103px -25px; }
      .numberDisplay .numbers span.three {
        background-position: -117px -25px; }
      .numberDisplay .numbers span.four {
        background-position: -131px -25px; }
      .numberDisplay .numbers span.five {
        background-position: -145px -25px; }
      .numberDisplay .numbers span.six {
        background-position: -159px -25px; }
      .numberDisplay .numbers span.seven {
        background-position: -173px -25px; }
      .numberDisplay .numbers span.eight {
        background-position: -187px -25px; }
      .numberDisplay .numbers span.nine {
        background-position: -201px -25px; }
