.snake {
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 2px solid #000;
  margin: 0 2px 2px 0;
  position: absolute; }

.snake:after {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  background: #000; }
